@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,100&display=swap');

*{
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header{
    background: black;
    border: 1px solid orangered;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 0px 20px 10px;
    position: fixed;
    z-index: 2;

}

.navbar-logo {
    height: 90%;
    padding-left: 2rem;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    
}

.navbar-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #C8412C;
    width: fit-content;
    font-size: 14px;
    font-weight: 800;
    font-family: "Armata" , sans-serif;
    transition: all 450ms ease;
    padding-right: 0.3rem;
    z-index: 0;
    padding-bottom: 3px;

    &::after,
    &::before{
      content: "";
      display: block;
      position: absolute;
      transition: width 540ms, opacity 300ms ease;
    }
}

ul {
  padding-right: 3rem;
}


.menu-label {
    display: none;
}
#menu{
    display: none;
}

.menu-icon {
  width: 35px;
  height: 35px;
}

  .cart-label{
    cursor: pointer;
    position: relative;
    padding-top: 10px;
    padding-right: 2rem;
  }
  
  .cart-bubble {
    position: absolute;
    top: -8px;
    right: 20px;
    text-align: center;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cart h2{
    color: #C8412C;
    font-family: oldenburg;
    font-weight: 200;
  }

  

  .cart {
    position: absolute;
    top: 98px;
    right: 0px;
    padding: 50px 30px;
    background-image: url(./img/background.webp);
    border: 1px solid orangered;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 300px;
    display: none;
    transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }



  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cart::-webkit-scrollbar {
        display: none;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: orangered;
    padding: 5px;
    border: 2px solid  black;
    border-radius: 10px;
  }

  .cart-item img {
    height: 40px;
    width: 60px;
    border-radius: 10%;
  }

  .open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
  }

  .item-title {
    color: black;
    font-weight: 800;
    font-size: 14px;
    font-family: oldenburg , sans-serif;
  }

  .item-price {
    background: black;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
  }
  
  .item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: black;
    font-weight: 400;
    cursor: pointer;
  }
  
  .item-quantity {
    color: black;
    font-weight: 600;
  }
  
  .up {
    border: 1px solid black;
    background-color: red;
    font-weight: 800;
  }
  
  .down {
    border: 1px solid black;
    background-color: red;
  }
  
  .divider {
    margin-top: 20px;
    border: 0.5px solid orangered;
    width: 100%;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .cart-total p {
    color: red;
    font-weight: 700;
    font-family: oldenburg , sans-serif;
  }
  
  .cart-total span {
    color: red;
    
    font-weight: 400;
    font-size: 18px;
  }

  .open-cart {
    display: flex;
    max-width: 400px;
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    
  }
  
  .empty-msg {
    color: gray;
    font-size: 14px;
  }

  .btn-buy,
  .btn-delete {
    cursor: pointer;
  padding: 10px 20px 10px 20px;
  color: black;
  border-radius: 10px;
  background-color: orangered;
  border: black 1px solid;
  transition: 0.3s all ease-out;
  font-weight: 800;
  transition: 0.5s;

  }

 
 

main{
    background-image: url(./img/background.webp);
    padding-top: 120px;
    
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  margin: 0 auto;
  scroll-margin-top: 150px;
}

#hero h1{
    text-align: center;
    color: #D1CBCA;
    font-family: "armata" , sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 2rem 0 1rem 0rem;
    text-shadow: 2px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
}

.hero-container{
    width: 60%;
    padding: 1rem 2rem 1rem 1rem ;
    
}

.hero-img{
    width: 100%;
    border: #C8412C 1.5px solid;
    border-radius: 0.4rem;
}

.line {
    border-top: 1px solid #C8412C;
    height: 2px;
    padding: 0;
    margin: 3rem auto 3rem auto;
  }

  #info{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
     margin: 0 auto;
     scroll-margin-top: 150px;
     gap: 1.5rem;
  }

  #info h2 {
    font-size: 24px;
    color: #D1CBCA;
    text-align: center;
    font-family: "armata" , sans-serif;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
  }

  #info p{
    font-size: 16px;
    color: #FF5733;
    font-family: "armata" , sans-serif;
    padding: 0 3rem 0 3rem;
    text-align: center;
  }

  #info p span{
    color: #C8412C;
    font-size: 22px;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
  }

  #products{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    scroll-margin-top: 150px;
  margin: 0 auto;
  flex-direction: column;
  gap: 3rem;
}

#products h2{
    color: #D1CBCA;
    font-family: "armata" , sans-serif;
    font-size: 24px;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;

}

.active{
    color: orangered;
    font-family: "armata" ,sans-serif;
    background: black;
    transition: 0.5s;
    
 }

 .categories{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

.category {
    color: black;
    font-family: "armata" ,sans-serif;
    background: orangered;
    padding: 5px;
    display: inline-block;
    position: relative;
    width: 7rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 1000;
    text-align: center;
    border: black 2px solid;
    margin: 0 0 1rem 1rem;
    transition: 0.5s;
 }

 .product{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 300px;
    height: auto;
    background: black;
    border: #C8412C 2px solid;
    gap: 1rem;
    border-radius: 10px;
    transition: 0.5s;
 }

 .product img{
    width: 300px;
    height: 200px;
    border: #C8412C 2px solid;
    border-radius: 10px 10px 0 0;
 }

 .hidden{
    visibility: hidden;
 }

 .disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: none;
}

 .products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 2rem;
 }

 .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-family: "armata" ,sans-serif;
    margin-bottom: 1rem;
    width: 300px;
    color: #D1CBCA;
 }

 .product-info span{
    color: #D1CBCA;
 }

 .product-info h3 {
    font-size: 14px;
    margin: 0 1rem 0 1rem;
    color: #ff5700a6;
 }

 .btn-add {
    color: black;
    font-family: "armata" ,sans-serif;
    background: #C8412C;
    padding: 5px;
    display: inline-block;
    position: relative;
    width: 7rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    border: black 2px solid;
    transition: 0.5s;
 }

 .show-more-btn{
  color: black;
  font-family: "armata" ,sans-serif;
  background: #C8412C;
  padding: 10px;
  display: inline-block;
  position: relative;
  width: 9rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  border: black 2px solid;
  transition: 0.5s;
 }

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
  scroll-margin-top: 150px;
}

#contact h3{
    color: #C8412C;
    font-size: 20px;
    font-family: "armata" , sans-serif;
    padding: 0 5rem 0 5rem;
    text-align: center;
}

#contact p{
    color: #C8412C;
    font-size: 16px;
    font-family: "armata" , sans-serif;
    text-align: center;
    padding: 0 2rem 0 2rem;
}


footer{
    background: black;
    border: 1px solid orangered;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C8412C ;
}

.social-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    text-align: center;
}

.footer-redes{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-redes img{
    width: 50px;
    height: 50px;
    transition: 300ms;
}

.footer-redes img:hover{
  width: 58px;
  height: 58px;
}

.logo-copy-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-copy-footer img{
    width: 50px;
    height: 50px;
    transition: 300ms;
}

.logo-copy-footer img:hover {
  width: 58px;
  height: 58px;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

/* REGISTER */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.form-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: exo;
  color: orangered;
}

.form-input {
  padding: 15px 35px 15px 15px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  width: 350px;
  margin: 5px 0px;
  border: #C8412C 2px solid;
}

.form-submit-btn {
  font-size: 0.9rem;
  background: #12c2e9; 
  background: -webkit-linear-gradient(135deg, orangered 0%, red 100%);
  background: linear-gradient(135deg, orangered 0%, red 100%);
  color: black;
  font-weight: 1000;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  width: 350px;
  margin-top: 20px;
}

.form-field.error input {
  border: 1px solid #dc3545;
}

.form-field small {
  color: red;
  max-width: 350px;
  text-align: center;
  display: none;
}

.form-field.success input {
  border: 1px solid #28a745;
}

#form-error {
  color: red;
  font-size: 1rem;
  margin: 8px 0px;
  max-width: 350px;
  text-align: center;
}

.form-redirect {
  color: orangered;
  font-size: 18px;
  margin: 15px 0 50px 0;

}

.link-login{
  color: green;
}

.name{
  color: red;
  font-size: 1rem;
  text-align: center;
}

